body
{
    text-align: center;
    margin-top: 200px;
    background-color: antiquewhite;
    
}
 
h1
{
    margin: 50px;
    color:brown
}
.btn2
{
    background-color: rgba(236, 160, 38, 0.364);
    padding: 6px;
    margin: 8px;
    transition: all 0.5;
    width: 70px;
  
}
 
.btn2:hover
{
    transform: scale(1.2);
}
.reed
{
    color: red;
    margin: 4px;
}
.reed
{
    color: red;
}